<router-outlet name="navbar"></router-outlet>
<div class="container">
    <div class="pull-left col-md-6 text-left">
        <h4>Add Expenses</h4>
        <div class="row">
            <div class="col-xs-4 text-left">Date</div>
            <div class="col-xs-3 text-left">Expense</div>
            <div class="col-xs-3 text-left">Title</div>
            <div class="col-xs-3 text-left">Action</div>


        </div>
        <div class="row">
            <div class="col-xs-4"><input  class="form-control" type="date" [(ngModel)]="expense.when" placeholder="Date" /></div>
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon">£</span>
                    <input type="text" class="form-control" [(ngModel)]="expense.amount" aria-label="Expense">                    
                </div>
            </div>
             <div class="col-xs-4"><input  class="form-control" type="text" [(ngModel)]="expense.title" placeholder="Title" /></div>
            <div class="col-xs-3 text-left"><button class="btn btn-default" (click)='addExpenses();'>Add</button></div>
        </div>
    </div>
    <div class="pull-left col-md-6 text-left">
        <h4>Right Side</h4>
    </div>
</div>