<router-outlet name="navbar"></router-outlet>
<div class="row">

    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
        <div class="alert alert-success" *ngIf="registerSuccessful">
            Registration Successful, please click <a [routerLink]="['/']">here</a> to login
        </div>
        <form class="form-horizontal" *ngIf="!registerSuccessful" [formGroup]="formGroup" (ngSubmit)="onRegister($event);">
            <div class="form-group">
                <h2>Register here</h2>

                <p class="help-block"> if you are already registered, click <a href="/"> here </a> to login </p>
            </div>


            <div class="form-group">
                <!-- Username -->
                <label class="form-label" for="username">Username</label>

                <input type="text" id="username" formControlName="username" name="username" placeholder="" class="form-control">
                <div *ngIf="formErrors.username" class="alert alert-danger">
                    {{ formErrors.username }}
                </div>
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>

            </div>

            <div class="form-group">
                <!-- E-mail -->
                <label class="form-label" for="email">E-mail</label>

                <input type="text" formControlName="email" id="email" name="email" placeholder="" class="form-control">
                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
                <p class="help-block">Please provide your E-mail</p>

            </div>
            <div class="form-group">
                <!-- Password-->
                <label class="form-label" for="displayName">Display Name</label>
                <div>
                    <input type="text" formControlName="displayName" id="displayName" name="displayName" placeholder="" class="form-control">
                    <div *ngIf="formErrors.displayName" class="alert alert-danger">
                        {{ formErrors.displayName }}
                    </div>
                    <p class="help-block">displayName should be at least 4 characters</p>
                </div>
            </div>
            <div class="form-group">
                <!-- Password-->
                <label class="form-label" for="password">Password</label>
                <div>
                    <input type="password" formControlName="password" id="password" name="password" placeholder="" class="form-control">
                    <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{ formErrors.password }}
                    </div>
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="form-group">
                <!-- Password -->
                <label class="form-label" for="confirmPassword">Password (Confirm)</label>
                <div class="controls">
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword" placeholder="" class="form-control">
                    <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
                        {{ formErrors.confirmPassword }}
                    </div>
                    <div *ngIf="formGroup.hasError('mismatchedPasswords')">Passwords do not match.</div>
                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="controls">
                    <button [disabled]='isDisabled | async' class="btn btn-success">Register</button>
                    
                    <div>
                        <h6 class="label label-warning">{{messagesAsync | async}}</h6>
                    </div>

                </div>

            </div>

        </form>

    </div>
</div>